$c_bg: #222;
$c_bg_l: #383838;
$c_border: #555;
$c_border_l: #bbb;
$c_text_l: #eee;
$c_text_d: #aaa;
$c_text_g: #11d272;
$c_text_r: #e23c3c;

@keyframes blink {
    0% { opacity: 1; }
   30% { opacity: 1; }
   50% { opacity: 0; }
   70% { opacity: 1; }
  100% { opacity: 1; }
}

#debug {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 200px;
  height: 50px;
  border: 1px solid $c-text_r;
  margin-top: 20px;
  overflow: hidden;
  opacity: 0.5;
  color: $c_text_d;
  font-size: 12px;
  background: $c_bg;
  resize: none;

  &:hover {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: $c_bg;
}

main,
input {
  font-family: 'Roboto Mono', monospace;
  color: $c_text_l;
  font-weight: 300;
  font-size: 15px;

  #conContain,
  #docContain,
  #conLoader,
  #docLoader,
  b,
  i {
    line-height: 20px;
  }
}

main {
  height: 100vh;
  width: calc(100vw - 32px);
  max-width: 1500px;
  height: 600px;
  margin: 16px auto;
  margin-top: calc(50vh - 400px);
  
  .title {
    color: $c_text_l;
    font-weight: 400;
  }
  
  .error {
    color: $c_text_r;
    font-weight: 400;
  }

  .nobreak {
    white-space: nowrap;
  }
  
  i {
    padding: 0 0.2rem;
    border-radius: 0.2em;
    font-size: 0.9em;
    font-weight: 400;
    font-style: normal;
    color: $c_text_l;
    background: $c_bg_l;
  }

  .i-list {
    font-size: 0.9em;

    i {
      font-size: 1em;
    }
  }
  
  #docContain b {
    font-weight: 400;
    color: $c_text_g;
  }
  #conContain b {
    font-weight: 400;
    color: $c_text_l;
  }
}

.frame {
  border: 2px solid $c-border;
  border-radius: 5px;
}

#docContain,
#conContain {
  float: left;
  height: 100%;
  padding: 32px 16px 8px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  
  &::after {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 0.8em;
    color: $c_text_l;
  }
}

#docContain {
  position: relative;
  width: calc(35% - 50px);
  margin-left: 16px;
  
  &::after {
    content: 'DOCUMENT';
  }
}

#conContain {
  position: relative;
  width: calc(65% - 50px);
  
  &::after {
    content: 'CONSOLE OUTPUT';
  }
  
  #conOutput {
    color: $c_text_g;
    overflow: hidden;
  }
  
  #conOverflow {
    position: absolute;
    bottom: 62px;
    left: 16px;
    height: 32px;
    right: 16px;
    background: $c_bg;
  }
  
  input {
    position: absolute;
    bottom: 8px;
    left: 8px;
    z-index: 20;
    width: calc(100% - 16px);
    height: 32px;
    background: $c_bg;
    padding: 4px 8px 4px 40px;
    transition: border-color 0.5s;
    font-weight: 400;
    color: $c_text_l;
    
    &:focus,
    &:hover {
      border-color: $c_border_l;
      outline: none;
    }
  }
  
  &::before {
    content: '>';
    position: absolute;
    left: 26px;
    bottom: 10px;
    z-index: 10;
    font-size: 1.5em;
    animation: blink 2s infinite;
    color: $c_text_d;
    font-family: 'courier new';
    font-weight: bold;
  }
}

.textLoader {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 10;
  padding: 0 16px;
  background: $c_bg;

  #conContain & {
    padding-bottom: 64px;
  }

  #docContain & {
    padding-bottom: 24px;
  }
}