@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#debug {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 200px;
  height: 50px;
  border: 1px solid #e23c3c;
  margin-top: 20px;
  overflow: hidden;
  opacity: 0.5;
  color: #aaa;
  font-size: 12px;
  background: #222;
  resize: none;
}

#debug:hover {
  opacity: 1;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #222;
}

main,
input {
  font-family: 'Roboto Mono', monospace;
  color: #eee;
  font-weight: 300;
  font-size: 15px;
}

main #conContain,
main #docContain,
main #conLoader,
main #docLoader,
main b,
main i,
input #conContain,
input #docContain,
input #conLoader,
input #docLoader,
input b,
input i {
  line-height: 20px;
}

main {
  height: 100vh;
  width: calc(100vw - 32px);
  max-width: 1500px;
  height: 600px;
  margin: 16px auto;
  margin-top: calc(45vh - 300px);
}

main .title {
  color: #eee;
  font-weight: 400;
}

main .error {
  color: #e23c3c;
  font-weight: 400;
}

main .nobreak {
  white-space: nowrap;
}

main i {
  padding: 0 0.2rem;
  border-radius: 0.2em;
  font-size: 0.9em;
  font-weight: 400;
  font-style: normal;
  color: #eee;
  background: #383838;
}

main .i-list {
  font-size: 0.9em;
}

main .i-list i {
  font-size: 1em;
}

main b {
  font-weight: 400;
}

main b.empty {
  display: inline-block;
  position: relative;
  top: 4px;
  width: 8px;
  height: 14px;
  border-radius: 0.2em;
  margin: 0 1px;
  background: #555;
}

main #docContain b {
  color: #11d272;
}

main #conContain b {
  color: #eee;
}

.frame {
  border: 2px solid #555;
  border-radius: 5px;
}

#docContain,
#conContain {
  float: left;
  height: 100%;
  padding: 32px 16px 8px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}

#docContain::after,
#conContain::after {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 0.8em;
  color: #eee;
}

#docContain {
  position: relative;
  width: calc(35% - 50px);
  margin-left: 16px;
}

#docContain::after {
  content: 'DOCUMENT';
}

#conContain {
  position: relative;
  width: calc(65% - 50px);
}

#conContain::after {
  content: 'CONSOLE OUTPUT';
}

#conContain #conOutput {
  color: #11d272;
  overflow: hidden;
}

#conContain #conOverflow {
  position: absolute;
  bottom: 62px;
  left: 16px;
  height: 32px;
  right: 16px;
  background: #222;
}

#conContain input {
  position: absolute;
  bottom: 8px;
  left: 8px;
  z-index: 20;
  width: calc(100% - 16px);
  height: 32px;
  background: #222;
  padding: 4px 8px 4px 40px;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
  font-weight: 400;
  color: #eee;
}

#conContain input:focus, #conContain input:hover {
  border-color: #bbb;
  outline: none;
}

#conContain::before {
  content: '>';
  position: absolute;
  left: 26px;
  bottom: 13px;
  z-index: 30;
  font-size: 1.5em;
  -webkit-animation: blink 2s infinite;
          animation: blink 2s infinite;
  color: #aaa;
  font-family: 'courier new';
  font-weight: bold;
}

.textLoader {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 10;
  padding: 20px 16px;
  background: #222;
}

#conContain .textLoader {
  padding-bottom: 64px;
  color: #11d272;
}

#docContain .textLoader {
  padding-bottom: 28px;
  color: #eee;
}
/*# sourceMappingURL=style.css.map */